<div class="form-wrapper">
  <form [formGroup]="signUpForm" (ngSubmit)="signUpUser()">
    <div>
      <label for="firstName">First Name:</label>
      <input id="firstName" formControlName="firstName" type="text" />
      <div *ngIf="signUpForm.get('firstName')?.invalid && signUpForm.get('firstName')?.touched">
        First name is required.
      </div>
    </div>

    <div>
      <label for="surname">Surname:</label>
      <input id="surname" formControlName="surname" type="text" />
      <div *ngIf="signUpForm.get('surname')?.invalid && signUpForm.get('surname')?.touched">
        Surname is required.
      </div>
    </div>

  <div>
    <label for="username">Username:</label>
    <input id="username" formControlName="username" type="text" />
    <div *ngIf="signUpForm.get('username')?.invalid && signUpForm.get('username')?.touched">
      Username is required.
    </div>
  </div>

  <div>
    <label for="email">Email:</label>
    <input id="email" formControlName="email" type="email" />
    <div *ngIf="signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched">
      Enter a valid email.
    </div>
  </div>

  <div>
    <label for="phoneNum">Phone Number:</label>
    <input id="phoneNum" formControlName="phoneNum" type="tel" maxlength="10" />
    <div *ngIf="signUpForm.get('phoneNum')?.invalid && signUpForm.get('phoneNum')?.touched">
      Phone number is required and should be 10 digits.
    </div>
  </div>

  <div>
    <label for="password">Password:</label>
    <input id="password" formControlName="password" type="password" />
    <div *ngIf="signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched">
      Password is required and must be at least 6 characters.
    </div>
  </div>

  <button type="submit" [disabled]="signUpForm.invalid">Register</button>
</form>
